<%= metamagic title: "Feeds" %>
<div style="min-height:420px;">
<h2 class="text-center">Editing feed</h2>

<%= render 'form' %>
<center style="margin-top: 20px;">
<!--<%= link_to 'Show', @feed  , class:"btn btn-primary"%>-->
</center>
</div>
