<div class="spce_top">
<div class="edit_baner max-width">	
<h1 class="heading2">Editing blogo_banner</h1>
<div class="row">
  <div class="col-sm-18">
<%= render 'form' %>
</div>
 <div class="col-md-6 right_img_box">
    <%= render partial: '/blogo/admin/sidebar' %>
 </div>

</div>
</div></div>