<table width="100%" style="background:#38a6cb; border-radius: 10px 10px 0 0">
  <tbody>
	  <tr>
	    <td width="1%" style=" padding: 10px 10px"></td>
	    <td style="font-size:24px; color:#FFF; padding:10px;">
	      <%= image_tag("https://tradenaira.com/"+image_url("mailer.png").to_s, style: "width: 95px; height: 25px;") %>
	    </td>
	  </tr>
  </tbody>
</table>