<p>Dear User!</p>
<br /><br /><br />

<p>Your money transfer has failed</p>
<p>Unfortunately, your request to send <%= @amount %><%= @currency%> to <%= @receiver_email%> has failed. Your funds are once again available on your wallet.</p>
<p>Thanks</p>
<p>
	Regards<br>
	<a href="https://tradenaira.com">tradenaira.com</a>

