
<p>{sender_name} will like to send <%= @amount %><%= @currency%> to (existing_user/email address of non member)
</p>
<p>Login to control panel to accept / decline request.</p>

<p>Thanks</p>
<p>
	Regards<br>
	<a href="https://tradenaira.com">tradenaira.com</a>
