<p>Dear User!</p>
<br /><br /><br />
<p><%=@by_member.name%> sent you some money.<p>
<p>Amount sent:<%= @amount %><%= @currency%> </p> 
These funds have been credited into your TradeNAIRA wallet.
<p>Thanks</p>
<p>
	Regards<br>
	<a href="https://tradenaira.com">tradenaira.com</a>
</p>
