<p>Dear User!</p>
<br /><br /><br />

<p>Your money transfer request has been declined by <%= @me.receiver.email %></p>
<p>Unfortunately, your request to send <%= @amount %><%= @currency%> to 
	<%= @me.receiver.email %> has been declined by user. </p>
<p>Thanks</p>
<p>
	Regards<br>
	<a href="https://tradenaira.com">tradenaira.com</a>

