<p>Dear User!</p>
<br /><br /><br />
<p>Your money sent success to <%= @me.receiver.email %>.<p>
<p>Amount sent:<%= @amount %><%= @currency%> </p> 
These funds have been credited into his TradeNAIRA wallet.
<p>Thanks</p>
<p>
	Regards<br>
	<a href="https://tradenaira.com">tradenaira.com</a>
</p>
