<p>Dear User!</p>
<br /><br /><br />

<p>You have received Amount <%= @amount %><%= @currency%> at https://tradenaira.com.</p> 
<p>In order to claim money you must create an account on at https://tradenaira.com.</p>
<p>Use the <a href="https://tradenaira.com/signup">link</a> and create your account.</p>
<p>Thanks</p>
<p>
	Regards<br>
	<a href="https://tradenaira.com">tradenaira.com</a>
</p>
