<%= metamagic title: "Commission for sending and receiving money " %>
<link rel="stylesheet" type="text/css" href="/assets/money.css?body=1">      
        
<div id="body" class="">
    <div role="main" id="main" class="containerMobileFullWidth">
        <section class="box">
            <div class="row-fluid col-lg-10">
                <div class="containerCentered">
                    <div class="span12">
                        <h2 class="cmsn_heading">Sending and receiving money</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                
                    <div class="span5">
                        <div >It’s free to use Trade Naira to send or receive money between friends and family in the Naigeria, as long as the payment is funded by a bank account, debit card or Trade Naira balance, and no currency conversion is involved.</div>
                        <div >If you fund the payment using a credit card, send money in a different currency or make an international transfer, we charge you, the sender, a small fee. A currency conversion fee may also apply.</div>
                        <div>We think that’s pretty fair.</div>
                    </div>
                </div>
                    <div class="span7 col-lg-6">
                            <div class="col-lg-10">                       
                                <div class="col-lg-4">Sending or receiving money between friends and family within the Naigeria (in NGN) :</div>
                                <div class="col-lg-6">Free when funded by the sender’s Trade Naira balance, bank account or debit card. If you use a credit card to send money, a fee of 3.4% + 20p applies.</div>
                            </div>
                            <div class="col-lg-10">
                                <div class="col-lg-4">Sending or receiving money between friends and family within the Naigeria (in foreign currencies) :
                                </div>
                                <div class="col-lg-6">
                                    Currency conversion fees apply.  If  you are using a credit or debit card, a fee of 3.4% + 20p will also apply.
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="col-lg-4">Sending or receiving money to/from friends and family outside the Naigeria :
                                </div>
                                <div class="col-lg-6">A small fee applies to cross-border payments, depending on where the sender and the recipient are based and how the payment is funded.
                                </div>                            
                            </div>
                    </div>
                
           
            <div class="span12">
                <a class="send-money" href="https://www.tradenaira.com/money/send">Send Money Online</a>
            </div>
        </div>  
        </section>
        <!--section class="box" id="sell">
            <div class="row-fluid">
                <div class="containerCentered">
                    <div class="span12 center-text">
                        <h2>Selling with Trade Naira.</h2>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="containerCentered">
                    <div class="span5 span-pp-3 span-pl-3">
                        <p>We help process payments for millions of customers worldwide. Our transaction fees are based on your total sales volume. So the more you sell, the less you pay.<br><br>And if you’re a charity, you just pay one small set fee no matter the size of the donation.</p>
                    </div>
                    <div class="span7 span-pp-3 span-pl-3">
                        <table>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row"><h3>Get paid online</h3></th>
                                <td class="span7 span-pp-3 span-pl-3">However you do business we’ll get you paid. <br><a href="https://www.Trade Naira.com/uk/webapps/mpp/accept-payments-online">More about online payments</a>.</td>
                            </tr>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row">Add Trade Naira to your existing checkout.</th>
                                <td class="span7 span-pp-3 span-pl-3">No monthly fee <br/>From 3.4% to as low as 1.9% + 20p per transaction</br> based on total sales volume </br><a href="https://www.tradenaira.com/uk/webapps/mpp/express-checkout">More about Express Checkout</a></td>
                            </tr>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row">Add Trade Naira buttons to your website.</th>
                                <td class="span7 span-pp-3 span-pl-3">No monthly fee <br/>From 3.4% to as low as 1.9% + 20p per transaction</br> based on total sales volume </br><a href="https://www.tradenaira.com/uk/webapps/mpp/standard">More about Website Payments Standard</a></td>
                            </tr>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row">Accept debit and credit card payments on your website.</th>
                                <td class="span7 span-pp-3 span-pl-3">There are 2 fee structures available for this solution. Please call 0800 368 7177 to speak to a payments specialist.<br/><a href="https://www.tradenaira.com/uk/webapps/mpp/pro">More about Website Payments Pro</a>.</td>
                            </tr>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row">Micropayments Discounts.</th>
                                <td class="span7 span-pp-3 span-pl-3">If your transactions typically average less than £5, you could save money with our 5% + 5p rate. <br><a href="https://www.tradenaira.com/uk/webapps/mpp/micropayments">More about micropayments</a>.</td>
                            </tr>
                            <tr class="no-border">
                                <th class="span5 span-pp-3 span-pl-3" scope="row"><h3>Get paid over the phone</h3></th>
                                <td class="span7 span-pp-3 span-pl-3"></td>
                            </tr>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row">Accept card payments directly over the phone. No website or terminal needed.</th>
                                <td class="span7 span-pp-3 span-pl-3">There are <a href="#" class="merchant-fees-pop">2 fee structures</a> available for this solution. Please call 0800 368 7177 to speak to a payments specialist. <br><a href="https://www.tradenaira.com/uk/webapps/mpp/phone">More about payments by phone</a></td>
                            </tr>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row"><h3>Get paid in person</h3><br>Accept card and contactless payments with the Trade Naira Here Card Reader.</th>
                                <td class="span7 span-pp-3 span-pl-3">No monthly fees or fixed term.<br>Pay from 2.75% to as low as 1.5% per Chip and PIN and contactless transaction <a href="" class="fees-here-table">based on your total sales volume</a>.<br> 3.4% + 20p for card payments made by swiping the magnetic strip or manually entering the card details. <br><a href="https://www.tradenaira.com/uk/webapps/mpp/credit-card-reader">More about Trade Naira Here</a></td>
                            </tr>
                            <tr class="no-border">
                                <th class="span5 span-pp-3 span-pl-3" scope="row"><h3>Send invoices</h3></th>
                                <td class="span7 span-pp-3 span-pl-3"></td>
                            </tr>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row">Create and send customisable invoices to your customers.</th>
                                <td class="span7 span-pp-3 span-pl-3">No monthly fees. <br>From 3.4% to as low as 1.9% + 20p per invoice transaction <a href="#" class="fees-table-pop">based on total sales volume</a>. <br><a href="https://www.tradenaira.com/uk/webapps/mpp/email-invoice">More about email invoicing</a>.</td>
                            </tr>
                            <tr class="no-border">
                                <th class="span5 span-pp-3 span-pl-3" scope="row"><h3>Accept donations</h3></th>
                                <td class="span7 span-pp-3 span-pl-3"></td>
                            </tr>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row">If you’re a charity, add a donate button to your website to accept cards and Trade Naira.</th>
                                <td class="span7 span-pp-3 span-pl-3">No monthly fees.<br>1.4% + 20p per donation for <a href="https://www.tradenaira.com/uk/webapps/mpp/non-profit">registered charities</a>.</td>
                            </tr>
                            <tr>
                                <th class="span5 span-pp-3 span-pl-3" scope="row"><h3>International sales</h3></th>
                                <td class="span7 span-pp-3 span-pl-3">Additional fees apply for <a href="https://www.tradenaira.com/uk/webapps/mpp/cross-border-and-conversion-fees#currencyconversion">currency conversion</a> and <a href="https://www.tradenaira.com/uk/webapps/mpp/cross-border-and-conversion-fees#crossborder">cross-border payments</a>.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="containerCentered">
                    <div class="span12 center-text">
                    <a class="btn pxp-button scTrack:CTA|sell-signup" href="https://www.tradenaira.com/uk/webapps/mpp/account-selection">Get Started</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row-fluid">
                <div class="containerCentered">
                    <div class="span12">
                        <p class="legal-notes user-agreement">See our <a href="https://www.tradenaira.com/uk/webapps/mpp/ua/useragreement-full">User Agreement</a> for details of these transaction fees and other fees that may apply. Please note that Trade Naira does not control and is not responsible for fees charged by sellers to accept Trade Naira</p>
                    </div>
                </div>
            </div>
        </section-->
    </div>
</div>

