<%= metamagic title: "Request Money" %>

  <div class="container">
    <div class="track_rate_wraper overflow-css">  
        <div class="display_img w50">
          <img src="/assets/img/bilgisayr.png" alt="screen1"> 
        </div>
        <div class="rate_content w50">
            <div class="hide_send_money">
        	     <h3 class="heading4">Request MONEY</h3>
             </div>
            <div class="rate_input">
                <%= render "shared/money/request_money_form" %>
            </div>
        </div>
    </div>
  </div>



 