<%= metamagic title: "Request Success" %>
<link rel="stylesheet" type="text/css" href="/assets/money.css?body=1">
<div class=" form2">
<h2>Success</h2>
	<h3>Your request for money was forwarded</h3></div>