<%= metamagic title: "Send Money" %>
<% #if @requests.present? %>
	<!-- <table class="table">
		<thead>
			<tr>
				<td>#</td>
				<td>Date</td>
				<td>Request from</td>
				<td>Your balance</td>
				<td>Requested amount</td>
				<td>Actions</td>
			</tr>
		</thead> -->
	<% #@requests.each do |me| %>
		<!-- <tbody>
			<tr>
 -->				<td><%#= me.id %></td>
				<td><%#= me.created_at %></td>
				<td><%#= me.sender.email %></td>
				<td><%#= "#{me.receiver_account.balance}#{me.receiver_account.currency} " %></td>
				<td><%#= me.amount %><%#= me.account.currency %></td>
				<td>
					<%# if me.receiver_account.balance < me.amount %>
				<!-- 	Deposit fund to accept request -->
					<% #else %>
					<%#= link_to "Accept", two_factor_money_path(me.id, "accept"), 
					class: "btn btn-default" %>
					<% #end %>
					<%#= link_to "Decline", two_factor_money_path(me.id,"decline"), 
					class: "btn btn-danger", data: {confirm: "Are you sure, decline the request!"} %>
			<!-- 	</td>
			</tr>
		</tbody> -->
	<% #end %>
	<!-- </table> -->
<% #end %>

<div class="container">
    <div class="track_rate_wraper overflow-css">  
        <div class="display_img w50">
          <img src="/assets/img/bilgisayr.png" alt="screen1"> 
        </div>
        <div class="rate_content w50">
        	<div class="hide_send_money">
            <h3 class="heading4">SEND MONEY</h3>
            <p class="para1">Select the Currency to send money</p>
            </div>
            <div class="rate_input">
                <%= render "shared/money/send_money_form" %>
                <div class="accet_decline">
                <a class="" href = "/money/accept_decline_money" target = "_blank"> See pending and completed Send or Receive Money Request? Click here</a>
                </div>
            </div>
		</div>
	</div>
</div>
