

<div class="container">
    <div class="track_rate_wraper overflow-css">  
        <div class="display_img w50">
          <img src="/assets/img/bilgisayr.png" alt="screen1"> 
        </div>
        <div class="rate_content w50">
        	<div class="hide_send_money">
            <h3 class="heading4">SEND MONEY</h3>
            <p class="para1">Select the Currency to send money</p>
            </div>
            <div class="rate_input">
                <%= render "shared/money/send_money_form" %>
                <div class="accet_decline">
                <a class="" href = "/money/accept_decline_money" target = "_blank"> See pending and completed Send or Receive Money Request? Click here</a>
                </div>
            </div>
		</div>
	</div>
</div>
