<div class ="header_height">
<header class="site-main-header sanc homepage">
  <div class="main-header">
    <div class="container">
    <div class="header_top_right mobile-view">
              <ul class="home_head tophead">
              <% if current_user && controller_name == 'markets'%>
               <%= render 'shared/header_account_balance' %>
               <% end %>
               <% if current_user %>
                <%= render 'shared/header_profile_setting' %> 
                <% end %>
                <% unless current_user %>
                <li><a href="/signup" target=""><i class="fa fa-"></i><span>Register</span></a></li>
                <li><a href="/signin" target=""><i class="fa fa-sign-in"></i><span>Login</span></a></li>  
                <% end %>   
                <li class="language-div"> <a href="#"> EN</a></li>
              </ul>
         </div>
      <div class="main-header-row">
        <div class="logo-div"><a class="logo" href="/"><img class="home_logo" src="/assets/transparent_logo2.png" /></a></div>
        <div class="main-navbar-header">
          <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="center-menu">
              <ul>
               <!--  <li><a>BUSINESS</a></li>
                <li><a>PERSONAL</a></li> -->
                <li><a href="/news">NEWS</a></li>
                <li><a>PROJECT FUNDING </a></li>
                <li><a href="pages/tradeservices">TRADE SERVICES</a></li>
               
              </ul>
            </div>
          </div>
        </div>
        

        <div class="header_top_right">
              <ul class="home_head tophead">
              <% if current_user && controller_name == 'markets'%>
               <%= render 'shared/header_account_balance' %>
               <% end %>
               <% if current_user %>
                <%= render 'shared/header_profile_setting' %> 
                <% end %>
                <% unless current_user %>
                <li><a href="/signup" target=""><i class="fa fa-"></i><span>Register</span></a></li>
                <li><a href="/signin" target=""><i class="fa fa-sign-in"></i><span>Login</span></a></li>  
                <% end %>   
                <li class="language-div"> <a href="#"> EN</a></li>
              </ul>
         </div>
      </div>
    </div>
  </div>
</header>
</div>
