<section class="banner-map about_banner_content">
	<div class="dflcontainer">
		<div class="dfloatmap"></div>
		<div class="container dis-table">
			<div class="banner-text table-cell about_banner_content1">
				<div class="locate-div"><p>$4000 MOMENTS AGO</p><span>$345  SAVED </span></div>
				<div class="main-text text-center">
					<h1>WELCOME TO
						<span class="yellow_span">MONEY</span>
					</h1>
					<p class="max-width">WITHOUT BORDERS</p>
					
				    </div>
			</div>

		</div>
	</div>	
	</section>

	<div class="about_page">
		<div class="about_top">
		<div class="container">	
			<div class="about_section overflow-css">
				<div class="about_content w50">
					<h3>About TradeNAIRA</h3>
					<p>We offer the fastest, most-advanced, cost efficient and transparent peer-to-peer matching engine for corporate and mid-high value currency transactions. Our platforms are built to handle high volumes of transactions 24/7 around the clock. Our clients rely on us to support their personal and business investment, commerce and remittance activities. We aim to bring positive disruption to redundant, restrictive and outdated banking models by using technology to allow real-market participants to dictate their own terms and pricing.</p>
					 <div class="btn-4acnhor">
					 	<a href="#" class="btn-4">The Tradinag Floor</a>

					 </div>
				</div>
				<div class="about_img w50">
				<img src="/assets/img/screen.png" alt="screen_img">

			</div>
		</div>
		</div>
		</div>
			 
	
	


<div class="how_it_work pd_space">
  <div class="container">
    <div class="tradenara_wrk">
    	<div class="newsheading">
    		<h4>HOW TRADE NAIRA WORKS?</h4>
    		<p>Buy Naira, Bitcoin, Ethereum,and more within minutes</p>
    	</div>

    <div class="tvideohumbline">
       	<a class="thumb" data-target="#myModal" data-toggle="modal">
       		<img src="/assets/img/video_thumbnail.png" alt="11"></a>
    </div>

</div>	
  </div>	
    </div>	
			
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"> &times;</span></button>
			<iframe src="https://www.youtube.com/embed/fwlqPkPV98k" class="quickvideo"></iframe>
		</div>
		  </div>
		    </div>
		    </div>



