<%= metamagic title: "AML Policy" %>
<div class="container static">
	<h2>AML POLICY</h2>
	<h4>TRADENAIRA’S ANTI MONEY LAUNDERING ("AML") AND COUNTER TERRORIST FINANCING ("CTF") POLICY</h4>
	<!-- <p>Money laundering is defined as the process where the identity of the proceeds of crime are so disguised that it gives the appearance of legitimate income. Criminals specifically target financial services firms through which they attempt to launder criminal proceeds without the firm's knowledge or suspicions.</p> -->
	<!-- <p>Within the UK alone it is estimated that £23 billion is laundered on an annual basis and on globally in revenue terms the amount of money laundered would make it the third largest industry.</p> -->
	<!-- <p>In response to the scale and effect of money laundering the United Kingdom, in common with many other countries, has passed legislation designed to prevent money laundering and to combat terrorism. This legislation, together with regulations, rules and industry guidance, forms the cornerstone of AML/CTF obligations for UK firms and outline the offences and penalties for failing to comply.</p> -->
	<p>TradeNAIRA implements systems and procedures that meet the UK AML legislation and Nigerian AML legislation as can be found at <a href="http://www.cbn.gov.ng/out/2012/ccd/cbn%20approved%20framework.pdf">http://www.cbn.gov.ng/out/2012/ccd/cbn%20approved%20framework.pdf</a> and <a href="http://www.cbn.gov.ng/out/2014/fprd/aml%20act%202013.pdf">http://www.cbn.gov.ng/out/2014/fprd/aml%20act%202013</a>.pdf.</p>
	<!-- <h4>UK AML LEGAL AND REGULATORY FRAMEWORK:</h4>
	<p>The UK AML regime is set out in the following legislation and regulations:</p>
	<ul>
		<li>The Proceeds of Crime Act 2002 (POCA), as amended by the:</li>
		<ol>
			<li>Serious Organised Crime and Police Act 2005 (SOCPA); and the</li>
			<li>Proceeds of Crime Act (Amendment) Regulations 2007;</li>
		</ol>
		<li>The Terrorism Act 2000, as amended by the:</li>
		<ol>
			<li>The Anti Terrorism, Crime & Security Act 2001; and the</li>
			<li>Terrorism Act (Amendment) Regulations 2007;</li>
		</ol>
		<li>The Terrorism Act 2006;</li>
		<li>The Money Laundering Regulations 2007; and</li>
		<li>The Joint Money Laundering Steering Group (JMLSG) Guidance for the UK Financial Sector on the prevention of money laundering/combating terrorist financing.</li>
	</ul>
	<h4>Anti-Money Laundering (AML) Policy:</h4>
	<p>The TradeNAIRA AML Policy is designed to prevent money laundering by meeting the UK AML legislation obligations including the need to have adequate systems and controls in place to mitigate the risk of the firm being used to facilitate financial crime. This AML Policy sets out the minimum standards which must be complied with and includes:</p>
	<ul>
		<li>The appointment of a Money Laundering Reporting Officer (MLRO) who has sufficient level of seniority and independence and who has responsibility for oversight of compliance with relevant legislation, regulations, rules and industry guidance;</li>
		<li>Establishing and maintaining a Risk Based Approach (RBA) towards assessing and managing the money laundering and terrorist financing risks to the company;</li>
		<li>Establishing and maintaining risk-based customer due diligence, identification, verification and know your customer (KYC) procedures, including enhanced due diligence for those customers presenting higher risk, such as Politically Exposed Persons (PEPs);</li>
		<li>Establishing and maintaining risk based systems and procedures to monitor on-going customer activity;</li>
		<li>Procedures for reporting suspicious activity internally and to the relevant law enforcement authorities as appropriate;</li>
		<li>The maintenance of appropriate records for the minimum prescribed periods;</li>
		<li>Training and awareness for all relevant employees</li>		
	</ul> -->
	<h4>Sanctions Policy:</h4>
	<p>TradeNAIRA is prohibited from transacting with individuals, companies and countries that are on prescribed Sanctions lists. TradeNAIRA will therefore screen against United Nations, European Union, UK Treasury, Nigerian and US Office of Foreign Assets Control (OFAC) sanctions lists in all jurisdictions in which we operate.</p>
</div>
