 
 
<%= render "shared/header2" %>
<div class="faqpage space_pad">
	<div class="container">
		<div class="col-xs-24">
			<h1 class="text-center heading2">FREQUENTLY ASKED QUESTIONS (FAQ)</h1>
		</div>
		<div class="col-sm-24 m-t-lg col-xs-24">
			<div class="panel-group" id="faqEntries" role="tablist" aria-multiselectable="true">


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry1" aria-expanded="false" aria-controls="#faqEntry1">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How to Start?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry1" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>It's easy, fast and free to open an account. Click “sign-up” on the homepage, fill out the form and log in, verify your account by uploading valid id, then you have to fund your account. Click deposit in the “funds” page and select a type of deposit you wish to make.</p>
							</div>
                        </div>
                </div>

				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry2" aria-expanded="false" aria-controls="#faqEntry2">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How do I transfer money to my TradeNAIRA Account?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry2" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>1) <span> We do not accept credit or debit card payments </span> – Unfortunately we do not offer the service to accept credit or debit card transactions. We may do so in the future when we can find a secure option.</p>

								<p>2)<span>  Send money from your own bank account  </span> – the name on the bank account or card that you pay from has to match your name on TradeNAIRA.</p>
								<p>P.S. Each user can only own one TradeNAIRA profile unless otherwise explicitly permitted by our support team. </p>

                                <p>3) <span> Sending your money </span> – to pay for your transfer you must make a deposit request and then make a bank transfer. This must be done every time you make a transfer.</p>

                                <p>4) <span> Account verification </span> – as a financial institution, we need to know who's making transfers with us. At some stage, sooner or later, your identity has to be verified on TradeNAIRA. </p>

                                <p>5) <span> Use correct details in your profile </span> – when you set up your profile, please use your real, full name (no nicknames or initials), real address, real phone number and an email we can easily reach you on. </p>

                                <p>6) <span> No cash or cheque </span> – as a fully online business, we can’t accept or send out cash or cheques. You can only send money from a bank account to a bank account.</p>

                            </div>
                        </div>
                </div>

				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry3" aria-expanded="false" aria-controls="#faqEntry3">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How to Trade?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry3" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>After you successfully funded your account, it is time to trade. Click “Trading Floor” in the main menu. There are two types of orders: instant and limit orders. Instant orders are very simple to use, but limit orders give you the power of setting the price you wish to pay or get for your Naira. It is up to you to decide which one to use. We recommend instant orders for people who would like to make a trade as soon as possible and limit orders to people who have experience in market trading.</p>
							</div>
                        </div>
                </div>

				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry4" aria-expanded="false" aria-controls="#faqEntry4">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How does Limit order work?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry4" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>When you place a limit order you decide what price you wish to pay or get. Your order will then be added to the order book and will be waiting for someone to accept it.</p>
							</div>
                        </div>
                </div>



				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry5" aria-expanded="false" aria-controls="#faqEntry5">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">What if I make a mistake and insert a Limit order to Buy or Sell Naira at too low a price?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry5" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>This is a common mistake in the markets and can cause great damage to your account balance and market volatility. If you try to commit an order with price greater or lower than 20% of the current market price, our system will ask you for additional confirmation. We will allow you to place any order, but you will be asked if you are sure you want to do that.</p>
							</div>
                        </div>
                </div>


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry6" aria-expanded="false" aria-controls="#faqEntry6">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How does Stop Order Work?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry6" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>When you place a stop order you set an entry/exit price point. Once the price surpasses the predefined entry/exit point, the stop order becomes a market order. You can check the "Trailing stop" option if you wish to automatically track the bitcoin's price direction and reposition the active stop order.</p>
							</div>
                        </div>
                </div>


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry7" aria-expanded="false" aria-controls="#faqEntry7">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">What is an Order Book?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry7" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>Order book is a list of all open sell and buy orders at the moment. You can buy or sell Naira at those prices instantly.</p>
							</div>
                        </div>
                </div>

				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry8" aria-expanded="false" aria-controls="#faqEntry8">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How Much Does It Cost?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry8" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>You can find details of the costs on our fee schedule </p>
                                <a href = "/pages/fee">http://www.tradenaira.com/pages/fee </a>
							</div>
                        </div>
                </div>

				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry9" aria-expanded="false" aria-controls="#faqEntry9">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How Long Does It Take?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry9" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p><span>The whole process should be completed within 1-4 working days</span>. The time it takes depends on the currencies involved, the payment method you chose as well as bank holidays and weekends in both the sending and receiving countries.</p>
                                <p>Please keep in mind that we can only send or receive your money during regular banking hours.  </p>
                                <p>Also, please note that standard security checks may very occasionally affect the speed of your payment. As we are a regulated financial institution, we are required by law to carry these out. However, we always try our best to make sure they are as fast and as frustration-free as possible.</p>
                                <p>We cannot continue with your payment until these steps are completed. Though you will be notified either when creating a payment and/or by email when this is required, it is also possible to get at least the most common checks done ahead of time if you'd like.  </p>
                                <p>How the process generally works: </p>
                                <p>1)    Once your payment order is set up, it may take some time for us to receive your money. We can’t proceed with the process before we receive it. You will receive a text message and email when your funds have been received.

-    Bank transfers take a maximum of 3 working days to reach us, depending on the currency. 
-    SWIFT transfers take up to 5 working days to reach us
-    SOFORT takes 1-2 banking days to reach us
-    Bank debit (ACH) takes from 1 to 4 working days to reach us
-    Wire transfer takes up to one working day to reach us </p>
                                <p>2)    Conversion of your money depends on your asking price, the more competitive your asking price, the quicker you will be able to exchange. You can always bid on the spot rate for an immediate exchange or buy currency at the available asking price on the platform.</p>
                                <p>3)    Once we send out your converted money via local bank transfer, it can take a few working days to reach your recipient, depending on the currency sent and the country it is being sent to.</p>
							</div>
                        </div>
                </div>

				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry10" aria-expanded="false" aria-controls="#faqEntry10">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Will My Transfer Be Instant?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry10" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>No, unfortunately it will not be instant. It will certainly not be slow, though. Delivery time depends on the currency you send and may vary from a few business hours to a few business days from the moment a transfer is shown as complete on your account page.</p>
							</div>
                        </div>
                </div>

				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry11" aria-expanded="false" aria-controls="#faqEntry11">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Refunding a Transfer</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry11" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>If for any reason you need to cancel your transfer after sending your money to us, but before you have made a trade, you can make a withdrawal request from your funds page. </p>
                                <p>Once you've done this, you'll be prompted either to enter your refund account details, or if we already have these, you'll be asked to confirm these are correct. </p>
							</div>
                        </div>
                </div>


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry12" aria-expanded="false" aria-controls="#faqEntry12">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How do I make a Trade?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry12" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>You can make a trade on our trading floor once your account it fully active. </p>
                                <p>To find out how to use the trading floor please watch the following video: </p>
                                <a href = "https://www.youtube.com/watch?v=5d8LNfvbFWA">https://www.youtube.com/watch?v=5d8LNfvbFWA </a>
							</div>
                        </div>
                </div>


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry13" aria-expanded="false" aria-controls="#faqEntry13">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Supported Countries</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry13" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>We support transfers to nearly all countries in the world. Charges may be charged by your bank for receiving international transfers.</p>
							</div>
                        </div>
                </div>


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry14" aria-expanded="false" aria-controls="#faqEntry14">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Supported Currencies</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry14" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>TradeNAIRA is a currency exchange platform, so does not receive and send out the same currency in a single transfer. The only exception for this is our requests service, where NGN-NGN, GBP-GBP and EUR-EUR payments are possible.</p>
                                <p>TradeNAIRA currently supports the exchange of the following currencies against the Nigerian Naira (NGN):</p>
								<ul>
									<li>GBP – Pounds Sterling</li>
									<li>USD – US Dollar</li>
									<li>EUR – Euro</li>
									<li>CNY – Chinese Yuan</li>
								</ul>
                                <p>We also have plans to incorporate the following currencies based on if and when there is the demand to support these markets:</p>
								<ul>
									<li>BRL - Brazilian real</li>
									<li>GHS - Ghanaian Cedi</li>
									<li>CFA -Central African Franc</li>
									<li>ZAR - South Africa Rand </li>
									<li>SLL - Sierra Leonean Leone </li>
									<li>INR - Indian Rupee</li>
									<li>IDR - Indonesian Rupiah  </li>
									<li>CAD - Canadian Dollar </li>
									<li>MYR - Malaysian Ringgit</li>
									<li>RUB - Russian Ruble </li>
									<li>LBP - Lebanese Pound</li>
									<li>SGD - Singapore Dollar  </li>
									<li>GMD - Gambian Dalasi</li>
									<li>GNF - Guinean Franc </li>
									<li>LRD - Liberian Dollar</li>
								</ul>
                                <p>Don’t see what you’re looking for?</p>
								<p>We’re working continuously to expand TradeNAIRA to more countries. If there is a currency that you feel we should consider then please contact us at support@tradenaira.com and we can start this discussion.</p>
							</div>
                        </div>
                </div>


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry15" aria-expanded="false" aria-controls="#faqEntry15">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How Do I Use TradeNAIRA for Business Payments?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry15" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>You can use TradeNAIRA for business transfers and exchanges. You need to set up a business profile with us. This process contains 2 steps:</p>
								
                                <p>1) Fill in your business details in your account page, along with your personal details if you haven't entered these already.</p>
								
                                <p>2) Verify your business.</p>
								<p>Once it's set up and verified, you can start exchanging and transferring.</p>
								<p>If you set the transfer up as a business payment, the money <span> must come from your business bank account </span>.</p>
								<p>If you send the money from your business bank account and have accidentally set up personal transfer (or vice versa), please let us know. We can fix this. </p>
								<p>Please note </p>
								<ul>
									<li>In order to set up a business profile, you must also have a personal profile set up under the same email address.</li>
									<li>If you own or wish to make payments on behalf of 2 or more businesses, please contact support@tradenaira.com so we can assist with setting this up.</li>
								</ul>
							</div>
                        </div>
                </div>


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry16" aria-expanded="false" aria-controls="#faqEntry16">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Paying by Bank Transfer</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry16" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p><span>Before paying,</span> please set up a transfer on your TradeNAIRA profile. You can do this by clicking “sign-up” on our homepage.</p>
								
                                <p>The specific bank details to which you can send your money will be available on you “funds” page once your account is fully active. Our bank account information that is needed for a deposit is given to you on the last step of your deposit request.</p>
								
                                <p> <span>Keep in mind</span> </p>
								<ul>
									<li>The money has to come from your own bank account.</li>
									<li>Cash deposits or cheques paid into our bank account can't be accepted </li>
								</ul>
							</div>
                        </div>
                </div>



				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry17" aria-expanded="false" aria-controls="#faqEntry17">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Is it Safe to use TradeNAIRA?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry17" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>Yes! Our main priority is to keep clients personal data safe and secure. We take great precautions around security of our system and are constantly monitoring for any suspicious activities.</p>
								
							</div>
                        </div>
                </div>


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry18" aria-expanded="false" aria-controls="#faqEntry18">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">How do I change my email address?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry18" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>Users cannot change their email address by themselves. If you wish to change your current email address, we kindly ask our users to contact support for further assistance. </p>
							</div>
                        </div>
                </div>


				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry19" aria-expanded="false" aria-controls="#faqEntry19">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Two Factor Authentication does not accept my code</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry19" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>With two factor authentication it is very important that the time on our server and your mobile device and the time within your Google Authenticator app is in sync, therefore please try to re-sync Google Authenticator by going to Settings -> Time correction for codes -> Sync now, or if you use iOS please set; Settings -> General -> Date & Time -> Set Automatically -> to On, and then make sure your mobile device displays the correct time and then try again.</p>
								
                                <p>For more information please follow this link:</p>
								
                                <p> <a href = "https://support.google.com/accounts/answer/185834?hl=en&ref_topic=1099588">https://support.google.com/accounts/answer/185834?hl=en&ref_topic=1099588</a> </p>
							</div>
                        </div>
                </div>

				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry20" aria-expanded="false" aria-controls="#faqEntry20">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Where do I obtain my Two Factor Authentication code?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry20" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>You need Google Authenticator application in order to obtain two-factor authentication code. You can read more about it here -</p>
																
                                <p> <a href = "https://support.google.com/accounts/answer/1085463?hl=en&ref_topic=1099588">https://support.google.com/accounts/answer/1085463?hl=en&ref_topic=1099588</a> </p>
							</div>
                        </div>
                </div>

				<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry21" aria-expanded="false" aria-controls="#faqEntry21">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Can I Deposit funds from a bank account other than my own?</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry21" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>We are unable to process third party transfers. All transfers to and from your TradeNAIRA account must be paid from or be received by a bank account held in your name.</p>
							</div>
                        </div>
                </div>


			</div>
		</div>
	</div>
</div>

<style>
.businessdiv {
    padding: 0px 10px;
}
.faqtxt {
    font-size: 26px;
    color: #3E5869;
}
.m-t-lg {
    margin: 30px 0px;
}

.panel-heading:not(.collapsed) i.fa-angle-right
{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.panel-heading

.faq-answer p span {
    color: black;
    font-weight: bold;
}
</style>

