<%= metamagic title: "Learn more about Nigeria's Import Export Economy" %>
<%= metamagic description: "Find out what Nigeria import and exports and spot business opportunities in West Africa. Learn about how the Nigerian economy ticks and where there is demand" %>
<div class="container static nopad">
	<h2>Nigeria’s Economy</h2>
	<p>Here at TradeNAIRA we hope to educate and inform our members about the Nigerian Economy in general, especially regarding aspects that effect every stakeholder in the Nigerian Economy. We hope that all information we provide is explored more in depth by each member and that every member acts responsibly to help promote growth and trade and as a result assist in realising the true potential of West Africa as a place to live, work and do business. We welcome any suggestions you have to promote trust and trade and hope to continue a long-term dialogue and relationship with you.</p>
	<p>Use the interactive information below dig into the data of Nigeria’s economy. Here you can formulate a better understanding of what makes up Nigeria’s import/export market and come up with your own conclusions and ideas on how to participate.</p>
	<h4 style="text-align:center;">PRODUCTS EXPORTED BY NIGERIA 2013</h4>
	<iframe class="tree_map margin-T-15" src="http://atlas.media.mit.edu/en/visualize/embed/tree_map/hs92/export/nga/all/show/2013/"></iframe>
	<h4 style="text-align:center;">PRODUCTS IMPORTED BY NIGERIA 2013</h4>
	<iframe class="tree_map margin-T-15" src="http://atlas.media.mit.edu/en/visualize/embed/tree_map/hs92/import/nga/all/show/2013/"></iframe>
	<!--
	<a class="margin-T-15 col-xs-24" target='_blank' href="http://atlas.media.mit.edu/en/visualize/embed/tree_map/hs92/export/nga/all/show/2013/" width="600" height="400">
			<img src="/assets/en_visualize_explore_tree_map_hs92_export_nga_all_show_2013.svg" style="width:100%;">
	</a>
	<a class="margin-T-15 col-xs-24" target='_blank' href="http://atlas.media.mit.edu/en/visualize/embed/tree_map/hs92/import/nga/all/show/2013/" width="600" height="400">
		<img src="/assets/nigeria_import.svg" style="width:100%;">
	</a>  -->
</div>
