<%= metamagic title: "Risk Warning" %>
<%= render "shared/header2" %>
<div class="riskwarning space_pad">
<div class="container">
	<h1 class="heading2" style="margin-bottom: 20px">Risk warning</h1>
	<p>The trading of goods and products, real or virtual, as well as currencies involves significant risk. Prices can and do fluctuate on any given day. Due to such price fluctuations, you may increase or lose value in your assets at any given moment. Any currency - virtual or not - may be subject to large swings in value and may even become worthless. There is an inherent risk that losses will occur as a result of buying, selling or trading anything on a market</p>
	<!-- <p>Currency trading is susceptible to irrational (or rational) bubbles or loss of confidence, which could collapse demand relative to supply. For example, confidence might collapse in any given Currency because of unexpected changes imposed by central banks, government policies, major events, or a deflationary or inflationary spiral. Confidence might also collapse because of technical problems: if the anonymity of the system is compromised, if money is lost or stolen, or if hackers or governments are able to prevent any transactions from settling.</p> -->
	<p>There may be additional risks that we have not foreseen or identified in our Terms of Use.</p>
	<p>You should carefully assess whether your financial situation and tolerance for risk is suitable for buying, selling or trading Currencies on www.tradenaira.com.</p>
	<p>We use our banking providers in order to receive client moneys and making payments locally. Our banking providers DO NOT make cross-border payments, or make use of any third party clearing or exchange system.</p>	
</div>
</div>