<%= metamagic title: "Terms of Use" %>
<%= render "shared/header2" %>
<div class="container static nopad">
	<h2>Terms of Use</h2>
	<h4>Acceptance of Terms of Use</h4>
	<div class="col-xs-24 nopad">
	<!-- 	<div class="col-md-5 col-sm-6 col-xs-24 text-center lock"><%= image_tag("tearm&condition.png") %></div> -->
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry100" aria-expanded="false" aria-controls="#faqEntry100">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Acceptance of Terms of Use</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry100" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry100" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p >By using this website (“Site”), registering for a TradeNAIRA Account (“Account”), or using any of our other TradeNAIRA Services, you ("you, your, or yourself") are agreeing to accept and comply with the terms and conditions of use stated below ("Terms of Use")."TradeNAIRA" may also refer to the services, products, website, content or other materials (collectively, "TradeNAIRA Services") provided by TradeNAIRA or www.tradenaira.com.</p>
								<!-- </div> -->
								<p>The Service operated by TradeNAIRA allows buyers ("Buyers") and sellers ("Sellers"), to buy and sell a range of global and exotic currencies "Currencies".</p>
								<p>Depending on your country of residence, you may not be able to use all the functions of the Site. It is your responsibility to follow those rules and laws in your country of residence and/or country from which you access this Site and Services. As long as you agree to and comply with these Terms of Use, TradeNAIRA grants to you a personal, non-exclusive, non-transferable, non-sublicensable and limited right to enter and use the Site and the Service.</p>
								<h3>IF YOU DO NOT ACCEPT THE TERMS OF USE AND CONDITIONS OUTLINED IN THIS AGREEMENT, DO NOT ACCESS THIS SITE AND DO NOT USE THIS SERVICE.</h3>
								<p>By opening an Account, you expressly represent and warrant:</p>
								<ol style="list-style-type: decimal;">
								<li>You have accepted these Terms; and</li>
								<li>You are at least 18 years of age and have the full capacity to accept these Terms and enter into a transaction involving Currency.</li>
								</ol>
							</div>
                        </div>
        </div>
</div>
	<div class="col-xs-24 nopad">
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry1" aria-expanded="false" aria-controls="#faqEntry1">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Risks</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry1" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>The trading of goods and products, real or virtual, as well as virtual or exotic currencies involves significant risk. Prices can and do fluctuate on any given day. Due to such price fluctuations, you may increase or lose value in your assets at any given moment. Any currency - virtual or not - may be subject to large swings in value and may even become worthless. There is an inherent risk that losses will occur as a result of buying, selling or trading anything on a market.</p>
							</div>
                        </div>
            </div>
			<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry2" aria-expanded="false" aria-controls="#faqEntry2">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Limited Right of Use</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry2" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>Unless otherwise specified, all Materials on this Site are the property of TradeNAIRA and are protected by copyright, trademark and other applicable laws. You may view, print and/or download a copy of the Materials from this Site on any single computer solely for your personal, informational, non-commercial use, provided you keep intact all copyright and other proprietary notices</p>
								<p>The trademarks, service marks and logos of TradeNAIRA and others used in this Site ("Trademarks") are the property of TradeNAIRA and their respective owners. The software, text, images, graphics, data, prices, trades, charts, graphs, video and audio used on this Site belong to TradeNAIRA. The Trademarks and Material should not be copied, reproduced, modified, republished, uploaded, posted, transmitted, scraped, collected or distributed in any form or by any means, whether manual or automated. The use of any such Materials on any other Site or networked computer environment for any other purpose is strictly prohibited; any such unauthorised use may violate copyright, trademark and other applicable laws and could result in criminal or civil penalties.</p>
							</div>
                        </div>
            </div>
	</div>
	<div class="col-xs-24 nopad">
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry3" aria-expanded="false" aria-controls="#faqEntry3">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Maintaining Your Account: Our Rules</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry3" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                                <p>This Site is for your personal and commercial use only. We are vigilant in maintaining the security of our Site and the Service. By registering with us, you agree to provide TradeNAIRA with current, accurate, and complete information about yourself as prompted by the registration process, and to keep such information updated. You further agree that you will not use any Account other than your own, or access the Account of any other Member at any time, or assist others in obtaining unauthorised access.</p>
								<p>The creation or use of Accounts without obtaining the prior express permission from TradeNAIRA will result in the immediate suspension of all said Accounts, as well as all pending purchase/sale offers. Any attempt to do so or to assist others (Members or otherwise), or the distribution of instructions, software or tools for that purpose, will result in the Accounts of such Members being terminated. Termination is not the exclusive remedy for such a violation, and TradeNAIRA may elect to take further action against you.</p>
								<p>You also are responsible for maintaining the confidentiality of your Account information, including your password, safeguarding your own Funds, and for all activity including Transactions that are posted to your Account. If there is suspicious activity related to your Account, we may,to request additional information from you, including authenticating documents, and may freeze any transactions pending our review. Should this arise, you are obligated to comply with these security requests, or accept termination of your Account. You are required to notify TradeNAIRA immediately of any unauthorised use of your Account or password, or any other breach of security by email addressed to support@tradenaira.com. Any Member who violates these rules may be terminated, and thereafter held liable for losses incurred by TradeNAIRA or any user of the Site.</p>
								<p>Finally, you agree that you will not use the Service to perform criminal activity of any sort, including but not limited to, money laundering, illegal gambling operations, terrorist financing, or malicious hacking.</p>
							</div>
                        </div>
            </div>
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry4" aria-expanded="false" aria-controls="#faqEntry4">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Termination and escrow of unverified accounts</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry4" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             		<p>You may terminate this agreement with TradeNAIRA, and close your Account at any time, following settlement of any pending transactions.</p>
									<p>We expressly reserve the right to cancel and/or terminate Accounts that have not been verified by the Client despite our good faith efforts to contact you seeking such verification (“Unverified Accounts”). All Unverified Accounts which have been inactive for a period of 6 months or more are further subject to transfer to a third-party escrow (the "Unverified Escrow”), and will no longer be maintained or be the legal responsibility of TradeNAIRA Ltd. The administrator/trustee of the Unverified Escrow shall make any and all additional reasonable efforts required by law to determine and contact each Unverified Account owner and, after suitable effort and time, will donate any residual cash in these unclaimed Unverified Accounts to a nonprofit group or groups.</p>
									<p>The suspension of an Account shall not affect the payment of the commissions due for past Transactions. Upon termination, Members shall communicate a valid bank account to allow for the transfer of any currencies credited to their account. Said bank account shall be held by the Member. TradeNAIRA shall transfer the currencies as soon as possible following the Member's request in the time frames specified by TradeNAIRA.</p>
									<!-- 	<p>TradeNAIRA will send to you the credit balance of your Account, however in circumstances a number of intermediaries may be involved in an international payment and these or the beneficiary bank may deduct charges. We will use reasonable efforts to ensure that such charges are disclosed to you prior to sending your payment, however where they cannot be avoided, you acknowledge that these charges cannot always be calculated in advance, and that you agree to be responsible for such charges.</p> -->
									<p>Upon Account closing, any amount less than $5 in value will not be returned.</p>
							</div>
                        </div>
            </div>
	</div>
	<div class="col-xs-24 nopad">
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry5" aria-expanded="false" aria-controls="#faqEntry5">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Availability of services</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry5" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>All services are provided without warranty of any kind, either express or implied. We do not represent that this Site will be available 100% of the time to meet your needs. We will strive to provide you with the Service as soon as possible but there are no guarantees that access will not be interrupted, or that there will be no delays, failures, errors, omissions or loss of transmitted information.</p>
										<p>We will use reasonable endeavours to ensure that the Site can normally be accessed by you in accordance with these Terms of Use. We may suspend use of the Site for maintenance and will make reasonable efforts to give you notice. You acknowledge that this may not be possible in an emergency.</p>
							</div>
                        </div>
            </div>
			<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry6" aria-expanded="false" aria-controls="#faqEntry6">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">APIs and Widgets</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry6" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>We may provide access to certain parties to access specific data and information through our API (Application Programming Interface) or through widgets. We also may provide widgets for your use to put our data on your Site. You are free to use these in their original unmodified and un-altered state.</p>
							</div>
                        </div>
            </div>
	</div>
	<div class="col-xs-24 nopad">
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry7" aria-expanded="false" aria-controls="#faqEntry7">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">External WebSites</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry7" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>TradeNAIRA makes no representations whatsoever about any outside or third party website which you may access through the Site. Occasionally, the TradeNAIRA website may provide references or links to other websites ("External Websites"). We do not control these External Websites third party sites or any of the content contained therein. You agree that we are in no way responsible or liable for External Websites referenced or linked from the TradeNAIRA website, including, but not limited to, website content, policies, failures, promotions, products, opinions, advice, statements, prices, activities and advertisements, services or actions and/or any damages, losses, failures or problems caused by, related to, or arising from those sites. You shall bear all risks associated with the use of such content.</p>
										<p>External Websites have separate and independent terms of use and related policies. We request that you review the policies, rules, terms, and regulations of each site that you visit. It is up to you to take precautions to ensure that whatever you select for your use is free of such items as viruses, worms, Trojan horses and other items of a destructive nature.</p>
							</div>
                        </div>
            </div>
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry8" aria-expanded="false" aria-controls="#faqEntry8">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Financial Advice</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry8" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>For the avoidance of doubt we do not provide any investment advice in connection with the Services contemplated by these Terms of Use. We may provide information on the price, range, volatility of certain Currencies and events that have affected the price of certain Currencies but this is not considered investment advice and should not be construed as such. Any decision to purchase or sell Currency is your decision and we will not be liable for any loss suffered.</p>
							</div>
                        </div>
            </div>
	</div>
	<div class="col-xs-24 nopad">
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry9" aria-expanded="false" aria-controls="#faqEntry9">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Financial Regulation</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry9" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>Our business model and our Services, consists of facilitating the buying, selling and trading of a discrete set of Currencies. As regulations in the jurisdictions TradeNAIRA operate develop, TradeNAIRA will continue to monitor the evolutions to ensure it is in compliance with them.</p>
					    </div>
                </div>
        </div>
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry10" aria-expanded="false" aria-controls="#faqEntry10">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Email</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry10" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>Email messages sent over the Internet are not secure and TradeNAIRA is not responsible for any damages incurred by the result of sending email messages over the Internet. We suggest sending email in encrypted formats; you are welcome to send PGP encrypted emails to us. The instructions and keys to do so are available upon request.</p>
					    </div>
                </div>
        </div>
	</div>
	<div class="col-xs-24 nopad">
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry11" aria-expanded="false" aria-controls="#faqEntry11">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">International transfers of personal information</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry11" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             		<p>We store and process your Personal Information in data centres around the world, wherever TradeNAIRA facilities or service providers are located. As such, we may transfer your Personal Information outside of the European Economic Area (“EEA”). Such transfers are undertaken in accordance with our legal and regulatory obligations.</p>
					    </div>
                </div>
        </div>
	</div>
	<div class="col-xs-24 nopad">
		
		<div class="col-xs-24 nopad">
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry20" aria-expanded="false" aria-controls="#faqEntry20">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Disclosures to legal authorities and authorized financial institutions</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry20" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             		<p>We may share your Personal Information with law enforcement, data protection authorities, government officials, and other authorities when:</p>
									<ul>
									<li>Required by law;</li>
									<li>Compelled by subpoena, court order, or other legal procedure;</li>
									<li>We believe that the disclosure is necessary to prevent physical harm or financial loss;</li>
									<li>Disclosure is necessary to report suspected illegal activity; or</li>
									<li>Disclosure is necessary to investigate violations of our Terms of Use or Privacy Policy.</li>
									</ul>
									<p>With respect to US residents, we also may share your information with other financial institutions as authorized under Section 314(b) of the US Patriot Act, and with tax authorities, including the US Internal Revenue Service, pursuant to the Foreign Account Tax Compliance Act ("FATCA"), to the extent that this statute may be determined to apply to TradeNAIRA Ltd. "Personal Information" refers to information that identifies an individual, such as name, address, e-mail address, trading information, and banking details. “Personal Information” does not include anonymised and/or aggregated data that does not identify a specific user.</p>
					    </div>
                </div>
        </div>
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry12" aria-expanded="false" aria-controls="#faqEntry12">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Limitation of Liability</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry12" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>To the extent permitted by law, TradeNAIRA will not be held liable for any damages, loss of profit, loss of revenue, loss of business, loss of opportunity, loss of data, indirect or consequential loss unless the loss suffered arising from negligence or wilful deceit or fraud. Nothing in these terms excludes or limits the liability of either party for fraud, death or personal injury caused by its negligence, breach of terms implied by operation of law, or any other liability which may not by law be limited or excluded.</p>
										<p>Subject to the foregoing, TradeNAIRA's aggregate liability in respect of claims based on events arising out of or in connection with any single Member's use of the Site and/or Service, whether in contract or tort (including negligence) or otherwise, shall in no circumstances exceed the greater of either (a) the total amount held on Account for the Member making a claim less any amount of Commission that may be due and payable in respect of such Account; or (b) 125% of the amount of the Transaction(s) that are the subject of the claim less any amount of Commission that may be due and payable in respect of such Transaction(s).</p>
					    </div>
                </div>
        </div>
	</div>
	<div class="col-xs-24 nopad">
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry13" aria-expanded="false" aria-controls="#faqEntry13">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Indemnity</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry13" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>To the full extent permitted by applicable law, you hereby agree to indemnify TradeNAIRA, and its partners against any action, liability, cost, claim, loss, damage, proceeding or expense suffered or incurred if direct or not directly arising from your use of TradeNAIRA's Sites, your use of the Service, or from your violation of these Terms of Use.</p>
					    </div>
                </div>
        </div>
	
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry14" aria-expanded="false" aria-controls="#faqEntry14">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Miscellaneous</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry14" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>If we are unable to perform the Services outlined in the Terms of Use due to factors beyond our control including but not limited to an event of Force Majeure, change of law or change in sanctions policy we will not have any liability to you with respect to the Services provided under this agreement and for a time period coincident with the event.</p>
					    </div>
                </div>
        </div>
	</div>
	<div class="col-xs-24 nopad">
		
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry15" aria-expanded="false" aria-controls="#faqEntry15">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Modification of Terms</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry15" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>TradeNAIRA reserves the right to change, add or remove portions of these Terms, at any time, in an exercise of its sole discretion. You will be notified of any changes in advance through your Account. Upon such notification, it is your responsibility to review the amended Terms. Your continued use of the Site following the posting of a notice of changes to the Terms signifies that you accept and agree to the changes, and that all subsequent transactions by you will be subject to the amended Terms.</p>
					    </div>
                </div>
        </div>
	
		<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry16" aria-expanded="false" aria-controls="#faqEntry16">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Definitions</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry16" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>Account. The contractual arrangement wherein a TradeNAIRA Member has accepted our Terms of Use and Privacy Policy, and received approval to use the TradeNAIRA Services, including the purchase and sale of Currencies and to perform associated Transactions.</p>
										<p>Buyer(s). Member(s) that are submitting an offer to buy Currencies through the Service.</p>
										<p>Commission. Refers to the fee which is payable to TradeNAIRA on each Transaction.</p>
										<p>Member(s). Refers to Buyers and Sellers as well as any holder of an Account.</p>
										<p>Personal Information. Information that identifies an individual, such as name, address, e-mail address, trading information, and banking details. “Personal Information” does not include anonymised and/or aggregated data that does not identify a specific user.</p>
										<p>Price. The price for which Members are willing to purchase or sell Currencies, using the Service in a Purchase Transaction. The Price may be expressed in any of the currencies deposited by Members in their Account and supported by the Service. See our Site for a full list of currencies.</p>
										<p>Seller(s). Member(s) that are submitting an offer to sell Currencies through the Service.</p>
										<p>Service(s). The technological platform, functional rules and market managed by TradeNAIRA. to permit Sellers and Buyers to perform purchase and sale transactions of Currencies.</p>
										<p>Transaction. Includes the following:</p>
										<ul>
										<li>The agreement between the Buyer and the Seller to exchange Currency through the Service for another Currency at a commonly agreed rate;</li>
										<li>The conversion of currencies into alternative currencies deposited by Members on their Account ("Conversion Transaction");</li>
										<li>The transfer of currencies among Members ("Currency Transfer Transaction"); and</li>
										<li>The purchase of ancillary products ("Purchase Transactions").</li>
										</ul>
										<p>TradeNAIRA may not offer all of these types of transactions at this time or in all places.</p>
										<p>Transaction Price. The total price paid by the Buyer in respect of each Transaction performed through the Service.</p>
					    </div>
                </div>
        </div>
	</div>

	<div class="panel panel-default">
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-target="#faqEntry17" aria-expanded="false" aria-controls="#faqEntry17">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-angle-right" aria-hidden="true" style="color:#38a6cb;font-size:28px;transition: all ease-in 150ms;"></i>
                                </div>
                                <div class="col-xs-23">
                                    <h3 class="faqtitle">Contact Us</h3>
                                </div>
                            </div>
                        </div>
                        <div id="faqEntry17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqEntry17" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body faq-answer">
                             			<p>If you have any questions relating to these Terms of Use, your rights and obligations arising from these Terms and/or your use of the Site and the Service, your Account, or any other matter, please contact support@tradenaira.com.</p>
					    </div>
                </div>
        </div>
</div>
</div>
<style>
.businessdiv {
    padding: 0px 10px;
}
.faqtxt {
    font-size: 26px;
    color: #3E5869;
}
.m-t-lg {
    margin: 30px 0px;
}
.faqtitle {
    margin: 2px 0;
    font-size: 21px;
}
.faq-answer {
    padding: 20px !important;
    font-size: 17px;
	color: rgba(49, 57, 60, 0.77);
	word-wrap:break-word;
}
.panel-heading:not(.collapsed) i.fa-angle-right
{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.panel-heading
{
	cursor:pointer;
    padding: 15px;
}
.faq-answer p span {
    color: black;
    font-weight: bold;
}
</style>