<div class="clearfix">
	<div class="form_row">
	 <label for="tn-phone-number">Phone number(If known)</label>
	 <input class="form-control" id="tn-phone-number"   
	 size="30" type="text" ng-model="transaction.phone">
	</div> 
</div> 
 
<div class="clearfix">
 	<div class="form_row">
 		<label for="tn-phone-number">Select Currency and fill Amount</label>
 		<div class="row">
	 	<div class="col-md-24">
	 		<div class="row">
				<div class="amount-coulumn col-md-11">

					<select class="select form-control" style="text-transform: capitalize;">
						<option value="">Select Currency</option>
						<option 
						ng-repeat="account in resp.meta.accounts"
						ng-click="selectCurrecy(account)"
						ng-selected="transaction.account==account"
						>{{account.amount+""+account.currency}}</option>
					</select>
					<p class="error">{{errors.role}}</p>
				</div>
				<div class="amount-coulumn col-md-13">
					<div class="escrow-currecy" ng-bind-html="currecy_image"></div>
					<input class="form-control tn-amount" id="tn-amount"   
					 size="30" type="text" ng-model="transaction.amount">
			    </div>
			</div>
		</div>
		</div>
	</div>
</div>

<div class="clearfix">
 	<div class="form_row">
 		<label for="tn-phone-number">What are you buying</label>
 		<div class="row">
		 	<div class="col-md-24">
		 		<textarea class="form-control tn-buying-item_description" 
		 		id="tn-item_description"   
				ng-model="transaction.item_description">
		 		</textarea> 
		 	</div>
		</div> 	
	</div>	
</div>

<div class="clearfix">
 	<div class="form_row">
 		<label for="tn-phone-number">Who will pay the escrow Amount fee?</label>
 		<div class="row">
		 	<div class="col-md-24">
		 		<div class="row">
			 		<div class="col-md-2">
			 			<label for="fee_payer">Seller </label>
			 		</div>
			 		<div class="col-md-2">
			 			<input type="radio" value="seller" name="fee_payer" id="tn_fee_payer">
			 		</div>
		 		</div>
		 	</div>
		 	<div class="col-md-24">
		 		<div class="row">
			 		<div class="col-md-2">
			 			<label for="fee_payer">Buyer </label>
			 		</div>
			 		<div class="col-md-2">
			 			<input type="radio" value="buyer" name="fee_payer" id="tn_fee_payer">
			 		</div>
			 	</div>
		 	</div>
		</div> 	
	</div>	
</div>