@import "bourbon";

@import 'vars/bootstrap';

@import 'bootstrap';
@import 'bootstrap-switch.min';

@import "bootstrap-wysihtml5/core-b3";
@import "bootstrap-wysihtml5/wysiwyg-color";
@import "bootstrap-datepicker";
 

@import 'vars/basic';
@import 'vars/custom';

@import "font-awesome-sprockets";
@import "font-awesome";

//677005500130 icic0006770 mak technolabs
.dl-horizontal dt {
  width: 120px;
}

.panel-left{
  float: left;
}

.top-pagging{
  ul.pagination{
    margin: 7px 14px 0 0;
    float: right;
  }
}

.panel-right{
  float: right;
  a{
    color: #fff;
  }
}
.panel-heading{
  min-height: 40px;
}

.dl-horizontal dd {
  margin-left: 140px;
}

body { padding-top: 80px; }

b.caret {
  margin-left: 5px;
}

.panel {
  .table td:first-of-type, .table th:first-of-type {
    padding-left: 14px;
  }
}

span.detail-item, span.detail-section { display: block; }

.counter-container{
  position: relative;
  .live_counter{
    position: absolute;
    right: -30px;
    top: 0;
    width: 100px;
    z-index: 99;
    a{
      color: #fff;
      text-align: center;
      width: 100%;
      padding: 8px 2px;
      margin: 0;
      .cntr{
        display: block;
        display: block;
        color: green;
        margin: -9px 1px 0 32px;
        background: #fff;
        width: 30px;
      }
    }

    .counter_info{
      position: absolute;
      left: -450px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 500px;
      top: 44px;
      overflow-y: scroll;
      max-height: 265px; 
      td{
        color: #364450;
        a{
          color: #364450;
        }
      }
    }
  }
}

span.detail-item {
  & > i.fa {
    &:before {
      margin-right: 5px;
    }
  }

  margin-bottom: 4px;
  text-align: right;

  &:before {
    float: left;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    content: attr(data-title)':';
    font-size: 16px !important;
  }
}

span.detail-section {
  margin-left: 10px;
  margin-top: 30px;

  &:first-of-type {
    margin-top: 0px;
  }

  & + hr {
    margin-top: 2px;
    border-top: 1px solid rgb(50, 150, 146);
    border-bottom: 1px solid rgb(206, 207, 186);
  }
}

.editor {
  min-height: 300px;
  padding: 15px;
  margin-top: 8px;
  border: 1px solid lightgray;
}

.panel-footer {
  ul.pagination {
    margin: 0px;
  }
}

.unread {
  background: #f2f2f2;
}

[data-title] {
  &:before {
    .text-ignore {
      font-size: 16px;
      display: block;
      content: attr(data-title);
    }
  }
}

.highlight
{
  color:red !important;
}
.depnew {
    display:none;
    background: #38a6cb none repeat scroll 0 0;
    border-radius:2px;
    color: #ffffff;
    font-size: 12px;
    padding: 1px 3px;
    position: absolute;
    right: -10px;
    top: 1px;
    z-index: 1;
}
.withnew {
    display:none;
    background: #38a6cb none repeat scroll 0 0;
    border-radius:2px;
    color: #ffffff;
    font-size: 12px;
    padding: 1px 3px;
    position: absolute;
    right: -10px;
    top: 1px;
    z-index: 1;
}



#dashboard-subscribers .nav > li > a{
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
}

.blogo-admin{
  padding: 0;
  margin: 0 auto;
}


@media (min-width: 760px) {
.navbar-nav > li > a {
    padding: 7px 9px;
    font-size: 13px !important;
}
}
