<div class="transfer-contaer" id="transfer-contaer" style="display: block;">
	<div class="col-md-24">
		<div class="box_btn_wrap">
			<ul class="overflow-css">
				<li>
					<div class="li_bx_inner">
						<h3>Send Money</h3>
						<div class="bx_img">
							<img src="/assets/send_mony.png" alt="send_mony">
						</div>
						<div class="bx_content">
							<div class="top_bx_cn">
								<a href ="/pages/send-money-to-nigeria"><h4>Pay for goods/services or Send money to family and friends</h4></a>
								<p>
									No fee for you. The recepient pays the fee.
								</p>
							</div>
							<div class="btm_colour_bx">
								<i class="fa fa-shield" aria-hidden="true"></i>
								<span>Some purchases may be eligible for 
									<a href="#">TradeNAIRA Buyer protection.</a>
								</span>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="li_bx_inner">
							<h3>Request Money</h3>
							<div class="bx_img">
								<img src="/assets/request_mony.png" alt="send_mony">
							</div>
							<div class="bx_content">
								<div class="top_bx_cn">
									<a href ="/pages/request-money"><h4>Request Payments from customers</h4></a>
									<p>
										You'll pay a fee when you receive payment.
									</p>
								</div>
								<div class="btm_colour_bx">
									<i class="fa fa-shield" aria-hidden="true"></i>
									<span>may be eligible for 
										<a href="#">TradeNAIRA Seller protection.</a>
									</span>
								</div>
							</div>
					</div>
				</li>
			</ul>
		</div> 
	</div>
</div>