<div class="transfer-contaer" id="transfer-contaer" style="display: block;">
	<div class="col-md-24">
		<div class="box_btn_wrap">
			<ul class="overflow-css">
				<li>
					<div class="li_bx_inner">
						<h3>Send Money</h3>
						<div class="bx_img">
							<a href="/money/send"><img src="/assets/money_send.png" alt="send_mony"></a>
						</div>
						<div class="bx_content">
							<div class="top_bx_cn">
								<a href ="/money/send"><h4>Pay for goods/services or Send money to family and friends</h4></a>
								<p>
									No fee for you. The recepient pays the fee.
								</p>
							</div>
							<div class="btm_colour_bx">
								<i class="fa fa-shield" aria-hidden="true"></i>
								<span>Some purchases may be eligible for 
									<a href="#">TradeNAIRA Buyer protection.</a>
								</span>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="li_bx_inner">
							<h3>Request Money</h3>
							<div class="bx_img">
								<a href ="/money/req"><img src="/assets/money_request.png" alt="send_mony"></a>
							</div>
							<div class="bx_content">
								<div class="top_bx_cn">
									<a href ="/money/req"><h4>Request Payments from customers</h4></a>
									<p>
										You'll pay a 0.5% when you receive payment.
									</p>
								</div>
								<div class="btm_colour_bx">
									<i class="fa fa-shield" aria-hidden="true"></i>
									<span>may be eligible for 
										<a href="#">TradeNAIRA Seller protection.</a>
									</span>
								</div>
							</div>
					</div>
				</li>
			</ul>
			<div class="accet_decline">
                <a class="" href = "/money/accept_decline_money" target = "_blank">See pending and completed Send or Receive Money Request?.Click here</a>
                </div>
		</div> 
	</div>
</div>