 <title> <%= @title %> </title>
 <meta name="description" content="<%= @descrip %>" />
 <meta name="keywords" content="<%= @keyword %>" />
 <%#= metamagic keywords: [:keywords, "Tradenaira", "Opensource", "Exchange", "Cryptocurrency"] %>
 <meta content="3pgC5eUXws57gm6P18OIZb-ov_wrIy1krauueWJwSq4" name="google-site-verification" />  
 <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
 <%= csrf_meta_tags %>   